<script>
import BreezeAuthenticatedLayout from "@/Layouts/Authenticated.vue";
import { Head } from "@inertiajs/inertia-vue3";
import Button from "@/Components/Button.vue";
import Modal from "@/Components/Modal.vue";
import { ref } from "vue";

export default {
    components: {
        Modal,
        Button,
        Head,
        BreezeAuthenticatedLayout,
    },
    setup() {
        const modalActive = ref(true);

        const toggleModal = () => {
            modalActive.value = !modalActive.value;
        };

        return { modalActive, toggleModal };
    },
};
</script>

<template>
    <Head title="Eventos" />

    <BreezeAuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Eventos
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex flex-row justify-end">
                    <Button @click="toggleModal">Adicionar Evento</Button>
                </div>
                <!-- TODO: Adicionar calendário https://github.com/richardtallent/vue-simple-calendar-sample -->
            </div>
        </div>
        <Modal @close="toggleModal" :modalActive="modalActive">
            <p>Conteudo</p>
        </Modal>
    </BreezeAuthenticatedLayout>
</template>
