<script setup>
import { Link } from "@inertiajs/inertia-vue3";
</script>

<template>
    <div
        class="block rounded-lg w-full p-2 mx-4 my-2 text-left text-sm leading-5 text-gray-800 focus:outline-none focus:bg-primary hover:bg-primary hover:text-secondary hover:font-bold transition duration-150 delay-100 ease-in-out"
    >
        <Link class="">
            <slot />
        </Link>
    </div>
</template>
