<script>
import Button from "@/Components/Button.vue";
export default {
    props: ["modalActive"],
    components: {
        Button,
    },
    setup(props, { emit }) {
        const close = () => {
            emit("close");
        };

        return { close };
    },
};
</script>
<template>
    <transition name="modal-animation">
        <div class="modal" v-show="modalActive">
            <transition name="modal-animation-inner">
                <div v-show="modalActive" class="modal-box">
                    <div
                        class="w-full flex flex-row justify-end bg-primary px-4"
                    >
                        <Button @click="close"> x </Button>
                    </div>
                    <!-- Modal Content-->
                    <div class="font-bold text-lg">
                        <!-- -->
                    </div>
                    <div class="py-4">
                        <slot />
                    </div>
                    <div class="w-full flex flex-row justify-end">
                        <Button @click="close"> Fechar </Button>
                    </div>
                </div>
            </transition>
        </div>
    </transition>
</template>
