<script setup>
import { computed } from "vue";
import { Link } from "@inertiajs/inertia-vue3";

const props = defineProps(["href", "active"]);

const classes = computed(() =>
    props.active
        ? "font-bold inline-flex items-center px-1 pt-1 border-b-4 border-secondary text-md text-secondary transition hover:scale-110 duration-150 ease-in-out"
        : "font-bold inline-flex items-center px-1 pt-1 border-b-4 border-transparent text-md text-secondary transition hover:scale-110 duration-150 ease-in-out"
);
</script>

<template>
    <Link :href="href" :class="classes">
        <slot />
    </Link>
</template>
